main {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* ----- NavBar -----*/

.fuente, .fuenteNavbar {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.brand {
  font-size: 30px;
  align-items: center;
  margin-top: 11px;
}

.fuenteNavbar {
  font-size: 25px;
  align-items: center;
  margin-left: 50px;
}

.navbarImg {
    width: 125px;
    height: 100px;
}

.iconoCarrito {
  width: 29px;
  height: 25px;
}

.linkTextDecoration {
  text-decoration: none;
}

/* ----- ItemList -----*/

#itemListDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

/* ----- Item -----*/

#itemCard {
  width: 300px;
  margin: 50px;
}

#itemDivBTN {
  display: flex;
  align-Items: center;
  justify-Content: center;
  margin: 15px;
}

/* ----- ItemDetailContainer -----*/

#itemDetContDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* ----- ItemDetail -----*/

#itemDetCardBody {
  width: 1000px;
  margin: 50px;
  display: flex;
  flex-direction: column;
}

#itemDetDivContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

#itemDetInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ----- Cart -----*/

#emptyCartCardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cartDivContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between,
}

#cartCardBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* ----- ItemCount -----*/

#divBotonesCantidad {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px;
}

#divBTN {
  display: flex;
  flex-Direction: column;
  align-Items: center;
  justify-Content: center;
}

/* ----- CartWidget -----*/

#cartWidgetDiv {
  display: flex;
  flex-direction: row;
}

#cartWidgetSpan {
  margin-left: 10px;
  font-size: 20px;
}